* {
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background: #356fce;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  width: 99%;
  min-height: 100px;
  
}

.container {
  background: #fff;
  padding: 25px 35px;
  border-radius: 30px;
  width: 90%;
  max-width: 700px;
  box-shadow: 0 4px 10px rgba(30, 32, 1, 0.904);
   border: 10px solid rgb(248, 252, 253);
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #0f0f0f;
}

.task-input {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;

}

.task-input input, .task-input button {
  padding: 15px;
  border-radius: 5px;
   border: 3px solid #07ecba;
}

.task-input button {
  background-color: #0c7cec;
  color: rgb(12, 12, 12);
 border: 2px solid rgb(12, 12, 12);
  cursor: pointer;
  transition: background 0.1s;
}

.task-input button:hover {
  background-color: #357ab8;
  
  

}

.controls {
  display: flex;
  justify-content: first baseline;
  gap: 37px;
}

.controls input, .controls select, .controls button {
  padding: 15px;
  border: 3px solid #07ecba;
  border-radius: 5px;
}


.controls button {
  background: #38f109ef;
  color: rgb(3, 0, 8);
  border: 2px solid rgb(7, 7, 7);
  cursor: pointer;
}

.controls button:hover {
  background: #eef3ef;
}

#taskList {
  list-style: circle;
  padding: 0;
 
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f9fa;
  border: 3px solid #2ef068;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.task.completed .title {
  text-decoration: line-through;
  color: rgb(10, 33, 241);
}

.task .actions button {
  margin-left: 8px;
  border: none;
  background: none;
  cursor: pointer;
}

.task .actions .edit { color: #023cf8; }
.task .actions .delete { color: #f1031b; }
.task .actions .toggle { color: #19be40; }
.title{
  max-width: 300px;
  overflow-x: overlay;
  font-weight: bold;
}